@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
}

#Integrations,
#register {
  text-decoration: none;
  color: white;
  background-color: #FF6336;
}

#login,
#register,
#demoBuy,
#Integrations {
  transition: all 0.1s ease;
}
#login:hover,
#register:hover,
#demoBuy:hover,
#Integrations:hover {
  transform: scale(1.07);
}

body .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 75px;
  border-bottom: 1px solid #ccc;
}
body .container .header .flex-wrap {
  flex: 100% 0 1;
}
body .container .header .flex-wrap .header__nav {
  width: 100%;
  padding-left: 6%;
}
body .container .header .flex-wrap .header__nav .header__nav--list {
  display: flex;
  flex: 100% 0 1;
  align-items: center;
  height: 100%;
}
body .container .header .flex-wrap .header__nav .header__nav--list .header__nav--item {
  padding-right: 6%;
}
body .container .header .flex-wrap .header__nav .header__nav--list .header__nav--item .header__nav--link {
  text-decoration: none;
  color: black;
}
body .container .header .flex-wrap .header__nav a {
  position: relative;
  font-size: 15px;
}
body .container .header .flex-wrap .header__nav a::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0%;
  height: 1px;
  transition: all 0.3s ease;
  background-color: black;
}
body .container .header .flex-wrap .header__nav a:hover::before {
  width: 100%;
}
body .container .header .header__access {
  display: flex;
  justify-content: end;
  flex: 100% 0 2;
}
body .container .header .header__access .header__access--btns-wrap {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
}
body .container .header .header__access .header__access--btns-wrap .header__access--btn {
  position: relative;
  display: block;
  padding: 22px 14%;
  color: black;
  overflow: hidden;
}
body .container .header .header__access .header__access--btns-wrap #login {
  border: 1px solid black;
}
body .container .header .header__access .header__access--btns-wrap #login::before {
  content: "Log in";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}
body .container .header .header__access .header__access--btns-wrap #register::before {
  content: "Try it free";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  white-space: nowrap;
}

body .main .container .main__item {
  padding: 0 75px;
  display: flex;
}
body .main .container .main__item p a {
  display: inline-block;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: black;
}
body .main .container .main__item .main__link--more.other-aspect {
  display: inline-block;
  position: relative;
}
body .main .container .main__item .main__link--more.other-aspect::before, body .main .container .main__item .main__link--more.other-aspect::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.2s ease;
  background-color: black;
}
body .main .container .main__item .main__link--more.other-aspect::before {
  width: 0;
}
body .main .container .main__item .main__link--more.other-aspect::after {
  width: 50%;
  left: 50%;
  transform-origin: right;
  transform: scaleX(0);
}
body .main .container .main__item .main__link--more.other-aspect:hover::before {
  width: 50%;
}
body .main .container .main__item .main__link--more.other-aspect:hover::after {
  transform: scaleX(1);
}
body .main .container .main__item:nth-child(1) {
  padding: 130px 75px 170px;
}
body .main .container .main__item:nth-child(1) .main__item--block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 2%;
}
body .main .container .main__item:nth-child(1) .main__item--block h2 {
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
}
body .main .container .main__item:nth-child(1) .main__item--block p {
  font-size: 25px;
  line-height: 35px;
  padding: 51px 0;
}
body .main .container .main__item:nth-child(1) .main__item--block .main__link-wrap {
  display: flex;
  width: 100%;
  padding-bottom: 25px;
}
body .main .container .main__item:nth-child(1) .main__item--block .main__link-wrap a {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 16%;
  color: black;
}
body .main .container .main__item:nth-child(1) .main__item--block .main__link-wrap #register {
  margin-right: 10px;
  background-color: #FF6336;
}
body .main .container .main__item:nth-child(1) .main__item--block .main__link-wrap #register::before {
  content: "Try it free";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}
body .main .container .main__item:nth-child(1) .main__item--block .main__link-wrap #demoBuy {
  border: 1px solid black;
}
body .main .container .main__item:nth-child(1) .main__item--block .main__link-wrap #demoBuy::before {
  content: "Book a demo";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  white-space: nowrap;
}
body .main .container .main__item:nth-child(1) .main__item--block span {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
}
body .main .container .main__item:nth-child(2) {
  flex-direction: column;
  gap: 70px;
  align-items: center;
  padding: 100px 75px;
  background-color: #FF9C7D;
}
body .main .container .main__item:nth-child(2) .main__title-wrap h2 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
body .main .container .main__item:nth-child(2) .main__company-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .main .container .main__item:nth-child(2) .main__company-wrap div {
  margin: auto 0;
}
body .main .container .main__item:nth-child(3) {
  flex-direction: column;
  gap: 250px;
  padding: 100px 75px 150px;
}
body .main .container .main__item:nth-child(3) .main__item--block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .main .container .main__item:nth-child(3) .main__item--block .main__description {
  flex: 40% 0 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
body .main .container .main__item:nth-child(3) .main__item--block .main__description h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
body .main .container .main__item:nth-child(3) .main__item--block .main__description p {
  font-size: 20px;
  line-height: 30px;
}
body .main .container .main__item:nth-child(3) .main__item--block .main__description .main__link--more {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  color: black;
}
body .main .container .main__item:nth-child(3) .main__item--block .main__img-wrap {
  flex: 40% 0 1;
}
body .main .container .main__item:nth-child(4) {
  flex-direction: column;
  gap: 55px;
  align-items: center;
  padding: 120px 75px 150px;
  background-color: #FFF8E4;
}
body .main .container .main__item:nth-child(4) .main__title-wrap {
  width: -moz-fit-content;
  width: fit-content;
}
body .main .container .main__item:nth-child(4) .main__title-wrap h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
body .main .container .main__item:nth-child(4) .main__block {
  display: flex;
  width: 100%;
}
body .main .container .main__item:nth-child(4) .main__block .main__item--block {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  width: 33.3333333333%;
  padding-right: 8%;
}
body .main .container .main__item:nth-child(4) .main__block .main__item--block:last-child {
  padding-right: 0;
}
body .main .container .main__item:nth-child(4) .main__block .main__item--block h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
}
body .main .container .main__item:nth-child(4) .main__block .main__item--block p {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
body .main .container .main__item:nth-child(5) {
  flex-direction: column;
  gap: 75px;
  align-items: center;
  padding: 155px 75px;
}
body .main .container .main__item:nth-child(5) .main__title-wrap {
  width: -moz-fit-content;
  width: fit-content;
}
body .main .container .main__item:nth-child(5) .main__title-wrap h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
body .main .container .main__item:nth-child(5) .main__block {
  display: flex;
  gap: 30px;
  align-items: center;
}
body .main .container .main__item:nth-child(5) .main__block .main__item--block h3 {
  padding: 50px 0 35px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
body .main .container .main__item:nth-child(5) .main__block .main__item--block p {
  font-size: 20px;
  line-height: 30px;
}
body .main .container .main__item:nth-child(5) .main__block .main__item--block p a {
  text-underline-offset: 5px;
}
body .main .container .main__item:nth-child(5) .main__block .main__item--block .main__link--more {
  display: inline-block;
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: all 70ms ease-in-out;
  color: black;
}
body .main .container .main__item:nth-child(5) .main__block .main__item--block .main__link--more:hover {
  text-underline-offset: 4px;
  -webkit-text-decoration: underline 3px #FF6336;
          text-decoration: underline 3px #FF6336;
}
body .main .container .main__item:nth-child(6) {
  padding: 55px 75px 105px;
  background-color: #C9E8F2;
}
body .main .container .main__item:nth-child(6) .main__item--block p {
  font-size: 30px;
  line-height: 40px;
}
body .main .container .main__item:nth-child(6) .main__item--block span {
  display: block;
  padding: 25px 0 7px;
  font-size: 15px;
  line-height: 25px;
}
body .main .container .main__item:nth-child(7) {
  align-items: center;
  width: 100%;
  padding: 80px 75px;
  background-color: #DABC98;
}
body .main .container .main__item:nth-child(7) .main__img-wrap {
  font-size: 0;
}
body .main .container .main__item:nth-child(7) .main__title-wrap h2 {
  padding: 0 20% 0 10%;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
}
body .main .container .main__item:nth-child(7) .main__item--block {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  padding-right: 6%;
}
body .main .container .main__item:nth-child(7) .main__item--block .main__block {
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 0 20px 17%;
}
body .main .container .main__item:nth-child(7) .main__item--block .main__block:first-child {
  border-left: 1px solid black;
}
body .main .container .main__item:nth-child(7) .main__item--block .main__block .main__rating {
  padding: 20px 0 15px;
}
body .main .container .main__item:nth-child(7) .main__item--block .main__block span {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 25px;
}
body .main .container .main__item:nth-child(8) {
  flex-direction: column;
  align-items: center;
  padding: 170px 75px 160px;
}
body .main .container .main__item:nth-child(8) .main__item--block {
  width: 60%;
  padding-bottom: 25px;
}
body .main .container .main__item:nth-child(8) .main__item--block .main__title-wrap h2 {
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
}
body .main .container .main__item:nth-child(8) .main__item--block p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}
body .main .container .main__item:nth-child(8) .main__img-wrap {
  padding-bottom: 30px;
}
body .main .container .main__item:nth-child(8) .main__link-wrap a {
  display: block;
  padding: 0 20px;
  font-weight: 600;
  line-height: 60px;
}
body .main .container .main__item:nth-child(9) {
  flex-direction: column;
  align-items: center;
  padding: 120px 75px 160px;
  background-color: #FF9C7D;
}
body .main .container .main__item:nth-child(9) .main__title-wrap h2 {
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
}
body .main .container .main__item:nth-child(9) p {
  padding: 30px 0 55px;
  font-size: 20px;
  line-height: 30px;
}
body .main .container .main__item:nth-child(9) .main__link-wrap #register {
  display: block;
  padding: 0 40px;
  font-size: 17px;
  font-weight: 600;
  line-height: 60px;
  color: white;
  background-color: black;
}
body .main .container .main__item:nth-child(10) {
  width: 100%;
  padding: 95px 75px;
  background-color: #EEEEEE;
}
body .main .container .main__item:nth-child(10) .main__theme {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: -moz-min-content;
  width: min-content;
  padding-right: 12%;
}
body .main .container .main__item:nth-child(10) .main__theme .main__title-wrap h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}
body .main .container .main__item:nth-child(10) .main__theme .main__description p {
  padding: 10px 0 15px;
  font-size: 20px;
  line-height: 30px;
}
body .main .container .main__item:nth-child(10) .main__theme .main__description .main__link-wrap a {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  color: black;
}
body .main .container .main__item:nth-child(10) .main__item--block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block h3 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list a {
  display: inline-block;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list a::before, body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list a::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 1px;
  transition: all 0.2s ease;
  background-color: black;
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list a::before {
  width: 50%;
  transform-origin: right;
  transform: scaleX(0);
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list a::after {
  width: 0;
  left: 50%;
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list a:hover::before {
  transform: scaleX(1);
}
body .main .container .main__item:nth-child(10) .main__item--block .main__block .main__item--link-list a:hover::after {
  width: 50%;
}

body .container .footer-wrap {
  background-color: #eee;
}
body .container .footer-wrap .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 75px;
  padding: 51px 0;
  border-top: 1px solid black;
}
body .container .footer-wrap .footer .flex-wrap {
  flex: 100% 0 1;
  gap: 14px;
  align-items: center;
}
body .container .footer-wrap .footer .flex-wrap .footer__description {
  width: 50%;
}
body .container .footer-wrap .footer .flex-wrap .footer__description p {
  display: block;
  font-size: 12px;
  line-height: 15px;
}
body .container .footer-wrap .footer .footer__license {
  flex: 100% 0 2;
  padding-right: 6%;
  text-align: right;
}
body .container .footer-wrap .footer .footer__license span {
  display: block;
  font-size: 12px;
  line-height: 15px;
}/*# sourceMappingURL=style.css.map */