body {
    .container {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 75px;
            border-bottom: 1px solid #ccc;
            .flex-wrap {
                flex: 100% 0 1;
                .header__nav {
                    width: 100%;
                    padding-left: 6%;
                    .header__nav--list {
                        display: flex;
                        flex: 100% 0 1;
                        align-items: center;
                        height: 100%;
                        .header__nav--item {
                            padding-right: 6%;
                            .header__nav--link {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                    a {
                        position: relative;
                        font-size: 15px;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 20px;
                            left: 0;
                            width: 0%;
                            height: 1px;
                            transition: all .3s ease;
                            background-color: black;
                        }
                        &:hover {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .header__access {
                display: flex;
                justify-content: end;
                flex: 100% 0 2;
                .header__access--btns-wrap {
                    display: flex;
                    justify-content: end;
                    gap: 10px;
                    width: 100%;
                    .header__access--btn {
                        position: relative;
                        display: block;
                        padding: 22px 14%;
                        color: black;
                        overflow: hidden;
                    }
                    #login {
                        border: 1px solid black;
                        &::before {
                            content: 'Log in';
                            @include positionCenter;
                            font-weight: 600;
                        }
                    }
                    #register {
                        &::before {
                            content: 'Try it free';
                            @include positionCenter;
                            font-weight: 600;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}