body {
    .container {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 75px;
            border-bottom: 1px solid #ccc;
            .flex-wrap {
                gap: 51px;
                .header__nav {
                    .header__nav--list {
                        display: flex;
                        gap: 51px;
                        align-items: center;
                        height: 100%;
                        .header__nav--item {
                            .header__nav--link {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
            .header__access {
                .header__access--btns-wrap {
                    display: flex;
                    gap: 10px;
                    .header__access--btn {
                        position: relative;
                        display: block;
                        padding: 22px 60px;
                        border: 1px solid black;
                        color: black;
                        overflow: hidden;
                        &::after {
                            content: '';
                            position: absolute;
                            top: -52px;
                            left: -165px;
                            width: 150px;
                            height: 150px;
                            transform: rotate(-45deg);
                            background-color: #FF6336;
                            transition: all .9s ease;
                        }
                        &::before {
                            z-index: 1;
                        }
                        &:hover {
                            &::after {
                                left: 40px;
                            }
                        }
                    }
                    #login {
                        &::before {
                            content: 'Log in';
                            @include positionCenter;
                            font-weight: 600;
                        }
                    }
                    #register {
                        &::before {
                            content: 'Try it free';
                            @include positionCenter;
                            font-weight: 600;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}