@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
}

#Integrations,
#register {
    text-decoration: none;
    color: white;
    background-color: #FF6336;
}

#login,
#register,
#demoBuy,
#Integrations {
    transition: all .1s ease;
    &:hover {
        transform: scale(1.07);
    }
}

@mixin font($fsz, $fw, $lh) {
    font-size: $fsz;
    font-weight: $fw;
    line-height: $lh;
}

@mixin secondaryFont($fsz, $lh) {
    font-size: $fsz;
    line-height: $lh;
}

@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}